@charset "UTF-8";
.dashboard {
    text-align: center;
    margin-top: 50px;
}

.dashboard-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.dashboard-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dashboard-buttons button:hover {
    background-color: #575757;
}